# Proxima Centauri b

Proxima Centauri b is the closest known exoplanet to Earth. It orbits in the
habitable zone of Proxima Centauri and was discovered on 24 August 2016.

```mermaid
{{ "centauri.yamlld" | as("mermaid") }}
```
